{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
            <!-- Left links -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if current_path != "welcome" %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    {% if current_path != "app_trick_manager" %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_trick_manager')}}">Gérez vos articles</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon compte</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Se connecter</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/register">S'inscrire</a>
                </li>
                {% endif %}
                <!-- Navbar dropdown -->
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>