#trickCreator
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .container-creator{
    background-color: rgba(0,0,0, 0.55);
    width: 60vw;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    border-radius: 5px;
  }

  input:not([type=file]), textarea, select{
    background-color: rgba(0,0,0,0.55);
    color: white;
    border-radius: 5px;
  }

  #trick_description{
    width: 40vw;
  }

  #trick_text{
    height: 10vh;
  }

  label.required{
      display: none;
  }

  textarea{
    width: 50vw;
  }

  select{
    text-align: center;
  }

  .filepond--root{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }

  .filepond--credits{
    display: none;
  }

  button{
    border-style: solid;
    border-color: #720101;
    border-radius: 5px;
    width: 200px;
    height: 40px;
  }

  .attachements{
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: min-content min-content min-content;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: min-content;

    img, iframe{
      height: 250px;
      width: 250px;
      border-radius: 5px;
    }

    .container-img{
      display: flex;
    }

  }

  .trash{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 5px;
    fill: white;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(5px, 5px);

    img{
      width: 50px;
      height: 50px;
    }
  }

  #edit_trick_edit_bg_img, #edit_trick_edit_picture{
    display: none;
  }

  .pres_img-div{
    margin-right: auto;
    margin-left: auto;
    width: min-content;
    margin-bottom: 5px;
    .pres-img{
      height: 250px;
      border-radius: 5px;
    }
  }

}