#welcome{
  width: 75vw !important;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.tricks-container{
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 50px;
  width: 70vw;
}