#welcome{
    margin: 1em auto !important;
    max-width: 800px !important;
    width: 95% !important;
    font: 18px/1.5 sans-serif !important;
    code {
      background: #F5F5F5 !important;
      padding: 2px 6px !important;
  }
}

body{
  background-color: whitesmoke !important;
}